@font-face {
  font-family: 'Kelson Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Kelson Regular'), url('fonts/Kelson/Armasen - Kelson.woff') format('woff');
  }


  @font-face {
  font-family: 'Kelson Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Kelson Thin'), url('fonts/Kelson/Armasen - Kelson-Thin.woff') format('woff');
  }


  @font-face {
  font-family: 'Kelson Light';
  font-style: normal;
  font-weight: normal;
  src: local('Kelson Light'), url('fonts/Kelson/Armasen - Kelson-Light.woff') format('woff');
  }


  @font-face {
  font-family: 'Kelson Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Kelson Medium'), url('fonts/Kelson/Armasen - Kelson-Medium.woff') format('woff');
  }


  @font-face {
  font-family: 'Kelson Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Kelson Bold'), url('fonts/Kelson/Armasen - Kelson-Bold.woff') format('woff');
  }


  @font-face {
  font-family: 'Kelson ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Kelson ExtraBold'), url('fonts/Kelson/Armasen - Kelson-ExtraBold.woff') format('woff');
  }