.header {
  background-size: cover;
}

.header--background-1 {
  background-image: url("../assets/images/Clipboard03.jpg");
}

.header--background-2 {
  background-image: url("../assets/images/Background(1).png");
}

.header--background-3 {
  background-image: url("../assets/images/Background.png");
}

.header--background-4 {
  background-image: url("../assets/images/Clipboard03.jpg");
}
